/*
 * Each BG have a function/ style
 *
 * Default  : N/A
 * Grey     :
 * Brown    :
 * Orange   :
 * Yellow   :
 * Blue     :
 * Green    :
 * Purple   :
 * Pink     :
 * Red      : Hidden
 *
*/

.highlighted-background {
    padding: .2em .4em !important;
    border-radius: 4px !important;
}
.bg-red {
    display: none !important;
}
