.super-navbar {
  background: transparent !important;
  top: 1em !important;
  overflow: unset !important;
  height: auto !important;
}

.super-navbar__content {
    overflow: unset !important;
}

.super-navbar__logo {
    min-height: 40px !important;
    margin: 0 20px !important;
    flex-grow: unset !important;

    position: absolute !important;

}

.super-navbar__logo-image{
    position: unset !important;
}

.super-navbar__logo-image img{
    border-radius: 0 !important;
    margin: 0 !important;
}

.super-navbar__item-list {
    position: relative !important;
    z-index: 4444 !important;
    display: flex !important;
    padding: 4px !important;
    flex-direction: row !important;
    justify-content: flex-start !important;
    align-items: center !important;
    border: 1px solid rgba(0,0,0,.1) !important;
    border-radius: 56px !important;
    background-color: var(--color-bg-menu) !important;
    box-shadow: 0 10px 10px -5px rgba(0,0,0,.1) !important;
    backdrop-filter: blur(16px) !important;
    -webkit-backdrop-filter: blur(16px);

    width: auto !important;
    margin: 0 auto !important;
    overflow: unset !important;
}

.super-navbar__item {
    display: flex !important;
    max-width: 112px !important;
    max-height: 44px !important;
    padding: 12px 24px !important;
    justify-content: center !important;
    align-items: center !important;
    border-radius: 230px !important;
}

@media (max-width: 860px) {
    .super-navbar__item-list {
        display: none !important;
    }

    .super-navbar__logo {   
        position: relative !important;
    }

    .super-navbar__content {
        margin: 14px !important;
        padding: 1em !important;
        border-radius:  1em !important;

        backdrop-filter: blur(16px) !important;
        -webkit-backdrop-filter: blur(16px);
        
    }

    .super-navbar__actions {
        margin: 0 20px !important;
    }

    .super-navbar {
        top: 0 !important;
    }
}

@media (max-width: 546px) {
    .super-navbar__menu-wrapper, .super-navbar__menu {
        width: 100% !important;
    }
}

/* Mobile */


.super-navbar__menu-wrapper.enter {
    transform: translateY(-100%);
    opacity: 0
}

.super-navbar__menu-wrapper.enter-active {
    transform: translateY(0);
    opacity: 1;
    z-index: 10;
    transition: opacity .2s ease-in-out, transform .2s ease-in-out
}

.super-navbar__menu-wrapper.exit {
    transform: translateY(0);
    opacity: 1
}

.super-navbar__menu-wrapper.exit-active {
    transform: translateY(-100%);
    opacity: 0;
    transition: opacity .2s ease-in-out, transform .2s ease-in-out
}

.super-navbar__menu {
    max-height: 100% !important;
    height: 100% !important;
    max-width: 100% !important;
    width: 100% !important;

    display: flex !important;
    flex-direction: column !important;
    align-items: flex-end !important;
}

.super-navbar__menu-close {
    top: 0 !important;
    right: 0 !important;
    width: 48px !important;
    height: 48px !important;
    position: relative !important;
}

.super-navbar__menu-item-list {
    padding-top: 2rem !important;
    width: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
}

.super-navbar__item {
    width: 100% !important;
    margin: 0 auto !important;
}