.notion-pill {
    padding: .2em .4em !important;
    border-radius: .2em !important;
}

.pill-red {
    background: var(--color-pill-red) !important;
    color: var(--color-pill-text-red) !important;
}
