img, picture{
    width: 100% !important;
    display: block !important;
    max-width: 100% !important;
    margin: 1.5em auto 1.5em 0 !important;
}

.notion-image span{
    box-sizing: border-box !important;
    display: block !important;
    overflow: hidden !important;
    background-image: none !important;
    opacity: 1 !important;
    border: unset !important;
    margin: unset !important;
    padding: unset !important;
    position: relative !important;
}

.notion-image span img{
    margin: 0 !important;
}